name: Unittest

on: push

jobs:
  unittest:
    name: Unittest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyversion: [ "3.10" ]

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyversion }}

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        git clone https://github.com/nmd-2000/docstring_parser docstring_parser
        pip install -e ./docstring_parser

    - name: Run tests
      run: |
        python -m unittest discover -s ./test  -p 'test_*.py'
